.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(1)  {
  @apply order-3;
}
.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(2)  {
   @apply order-1;;
}
.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3)  {
  @apply order-2;
}
.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button{
  @apply w-20;
}

.full-calendar .fc-toolbar-chunk .fc-button-primary:first-child{
  @apply rounded-l-md;
}
.full-calendar  .fc-toolbar-chunk .fc-button-primary:last-child{
  @apply rounded-r-md;
}

.full-calendar.fc-theme-standard .fc-scrollgrid, .full-calendar .fc-theme-standard th, .full-calendar .fc-theme-standard td, .full-calendar .fc-theme-standard .fc-list  {
  @apply border-slate-200/60 ;
}

.full-calendar table {
  @apply rounded-md;
}
.full-calendar table tr th .fc-scrollgrid-sync-inner{
  @apply py-3;
}

.full-calendar .fc-daygrid-event-harness {
  @apply mx-5;
}

.full-calendar .fc-h-event {
  @apply bg-primary border-primary rounded-md;

}

.full-calendar .fc-event-title-container {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.full-calendar .fc-event-title-container {
  @apply bg-primary border-primary rounded-md;
}

.full-calendar .fc-daygrid-event {
  @apply text-xs;
}
.full-calendar .fc-daygrid-event-dot{
  @apply border-primary mr-2;
}
.full-calendar .fc-daygrid-dot-event .fc-event-title {
  @apply font-medium;
}

.full-calendar .fc-col-header-cell-cushion {
  @apply font-medium;
}

.full-calendar .fc-daygrid-more-link{
  @apply text-sm;
}

.full-calendar .fc-daygrid-day-bottom {
  @apply pt-1;
}

.full-calendar .fc-day-other {
  @apply bg-slate-100/50 dark:bg-darkmode-700;
}

.full-calendar .fc-button-primary{
  @apply !font-normal !inline-block !border-slate-200/60 !text-slate-500 !bg-transparent !capitalize !px-[0.65em] !py-[0.4em];
  /* @apply btn; */
}

.full-calendar .fc-button-primary .fc-icon{
  @apply !text-[1.2em];
}

.full-calendar .fc-button-primary:focus{
  @apply !shadow-none;
}

.full-calendar .fc-button-primary:not(:disabled):active, .full-calendar .fc-button-primary:not(:disabled).fc-button-active{
  @apply !text-white !bg-primary !border-primary;

}

.full-calendar .fc-list-day-cushion {
  @apply !bg-slate-100/50 !px-[1.25rem] !py-[0.75rem];
}

.full-calendar .fc-list-event td {
  @apply px-5 py-3;
}
.full-calendar .fc-list-event-dot {
  @apply !border-primary;
}

.full-calendar .fc-event-time {
  @apply px-0.5 !text-[0.75rem];
}

.full-calendar .fc-daygrid-more-link {
  @apply pl-2;
}
/* // down sm */
@media screen and (max-width: 640px) { 
  .full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group {
    @apply block;
  }
  .full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3) .fc-button-group button{
    @apply w-full rounded-md mb-2;
  }
  .full-calendar.fc .fc-view-harness{
    @apply !min-h-[400px];
  }
  .full-calendar.fc .fc-daygrid-day-frame{
    @apply !min-h-[60px];
  }
  .full-calendar .fc-daygrid-more-link{
    @apply pl-0 block -mt-3 leading-[10px];

  }
 }

  /* down md */
 @media screen and (max-width: 768px) { 
  .full-calendar .fc-daygrid-more-link{
    @apply text-slate-500 text-[10px];
  }
 }
 /* down lg */
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 1024px) { 
  .full-calendar .fc-toolbar{
    @apply flex-col;
}
.full-calendar .fc-toolbar .fc-toolbar-chunk:nth-child(3)  {
  @apply my-3
}
 }

/* // Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199px) { ... } */



