@import "tailwindcss/base";

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .box {
    box-shadow: 0px 3px 20px #0000000b;
    @apply bg-white border-transparent rounded-md relative ;
  }
  .content {
    padding: 0px 22px;
    @apply min-w-0 min-h-screen bg-slate-100 flex-1 pb-10 mt-1 relative ; 
}
.content:before {
  content: "";
  @apply w-full h-px block;
}

.content.content--top-nav{
  border-radius: 35px 35px 0 0;
  @apply pt-0 mt-5;
}
@media screen and (max-width: 640px) {
 

    
  }
  @media screen and (max-width: 768px) { 
    .content {
      border-radius: 30px;
      @apply px-4 max-w-full pt-0 mt-10;
      }
   }
  
}


/* @include media-breakpoint-down(md) {
  border-radius: 30px;
  @apply px-4 max-w-full pt-0 mt-10;
}
&:before {
  content: "";
  @apply w-full h-px block;
}
&.content--top-nav {
  border-radius: 35px 35px 0 0;
  @apply pt-0 mt-5;
} */